<!doctype html>
<html>
  <head>
    <title>Dashboard</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>

  <body>
    <div class="container">
      <div class="top-bar">
        <div>
          <h1>📋 Project Task Manager</h1>
          <h3>Welcome, {{ session['name'] }} 👋</h3>
        </div>

        <a href="/logout" class="logout-btn">Logout</a>
      </div>

      <div class="actions">
        <a href="/add" class="btn">+ Add New Task</a>
      </div>

      <div class="stats">
        <div class="card">
          <h2>{{ total }}</h2>
          <p>Total Tasks</p>
        </div>

        <div class="card">
          <h2>{{ completed }}</h2>
          <p>Completed</p>
        </div>

        <div class="card">
          <h2>{{ pending }}</h2>
          <p>Pending</p>
        </div>
      </div>

      <h2 style="margin-top: 40px">Your Tasks</h2>

      {% if tasks %} {% for task in tasks %}

      <div class="task">
        <div class="task-header">
          <h2>{{ task[2] }}</h2>

          <span
            class="{% if task[5]=='Completed' %} completed {% else %} pending {% endif %}"
          >
            {{ task[5] }}
          </span>
        </div>

        <p>{{ task[3] }}</p>

        <div class="task-details">
          <p>
            <strong>Priority:</strong>

            {% if task[4]=='High' %} 🔴 High {% elif task[4]=='Medium' %} 🟡
            Medium {% else %} 🟢 Low {% endif %}
          </p>

          <p>
            <strong>Due Date:</strong>
            {{ task[6] }}
          </p>
        </div>

        <div class="task-buttons">
          <a href="/edit/{{ task[0] }}" class="edit-btn"> Edit </a>

          <a
            href="/delete/{{ task[0] }}"
            class="delete-btn"
            onclick="return confirm('Delete this task?');"
          >
            Delete
          </a>
        </div>
      </div>

      {% endfor %} {% else %}

      <div class="task">
        <h2>No Tasks Yet 📄</h2>

        <p>Click "Add New Task" to create your first task.</p>
      </div>

      {% endif %}
    </div>
  </body>
</html>
